body{
    text-align: center;
    background-color: rgb(27, 90, 69);
}
header {
    padding: 20px 0;
}
.caixa {
    display: inline;
    position: relative;
    width: 800px;
    margin: 0 auto;
}
h3 {
    text-align: left;
}
.imagem-logo {
    width: 10%;
    margin-left: 18px;
    border-radius: 90px;
    box-shadow: 2px 2px 2px #111111;
}
nav {
    position: absolute;
    top: 90px;
    right: 65px;
}
nav a {
    font-size: 25px;
    padding-left: 20px;
    color: #131313;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 3px 5px rgb(255, 129, 129);
    color: rgb(240, 87, 87);
    transition: 0.5s;

}
.beneficios {
  text-align: left;  
  background-color: rgb(175, 179, 174);
}
.foto-beneficios {
    width: 30%;
    margin-left: 100px;
}
ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
}
li {
    padding: 20px;
}